<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/noheader}">
    
    <section layout:fragment="contents" class="contents">
    	<div class="main-contents">
    		<table class="table">
    			<thead>
    				<tr>
    					<th>내용</th>
    					<th>읽음</th>
    					<th>날짜</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td>hagulu님이 글에 댓글을 달았습니다.</td>
    					<td>읽음</td>
    					<td>2025-07-28 15:11:12</td>
    				</tr>
    				
    				<tr>
    					<td>hagulu님이 글에 좋아요를 했습니다.</td>
    					<td>읽음</td>
    					<td>2025-07-28 15:11:12</td>
    				</tr>
    			</tbody>
    		</table>
    		
    	</div>
    </section>
    

</html>